<table>
  <tr>
    <th>Gênero</th>
    <th>Artista</th>
    <th>Albun</th>
    <th>Faixa</th>
  </tr>
  <% @musicas.each do |m|%>
  <% binding.pry %>
  <tr>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>


  </tr>
  <tr>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>

  </tr>
  <% end %>
</table>
